<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="/new" method="post">
      <h2>Post a Message</h2>
      <div>
        <label for="username">
          User Name:
          <input type="text" id="username" name="username" required />
        </label>
      </div>
      <div>
        <label for="message_heading">
          Message Heading:
          <input
            type="text"
            id="message_heading"
            name="message_heading"
            required
          />
        </label>
      </div>
      <div>
        <label for="message_description">
          Message Description:
          <input
            type="text"
            id="message_description"
            name="message_description"
            required
          />
        </label>
      </div>
      <button type="submit">Submit your response!</button>
    </form>
  </body>
</html>
