<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <div>User:</div>
      <div><%= message.user %></div>
      <br />
      <div>Heading:</div>
      <div><%= message.text %></div>
      <br />
      <div>Description:</div>
      <div><%= message.description %></div>
    </div>
    <div>
      <a href="/">Go to home page.</a>
    </div>
  </body>
</html>
